@font-face {
    font-family: 'idroid';
    src: url(pacote-projeto-d010/fontes/idroid.otf);
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(157, 243, 157);
    margin: 0;
}

img {
    margin: auto;
    display: block;
    width: 50%;
    height: auto;
}

iframe {
    margin: auto;
    display: block;
    width: 70%;
}

.video {
    background-color: #1A5C38;
    padding: 25px 0px;
}

.largura {
    width: 90%;
}

header {
    background-color: green;
    background: rgb(58,208,126);
    background: linear-gradient(180deg, rgba(58,208,126,1) 0%, rgba(26,92,56,1) 100%);
    padding: 0;
    margin: -21px 0px 0px 0px;
    height: 100%;
}

header > p {
    padding: 10px 10px 20px 10px;
    color: white;
    text-align: center;
    font-size: 1rem;
    margin: 0;
    text-shadow: 2px 2px rgba(0, 0, 0, 0.164);
}

nav {
    padding: 4px;
    text-indent: 5%;
}

nav > a:hover {
    background-color:  #2FA866;
}

nav > a{
    font-size: 0.8rem;
    text-decoration: none;
    font-weight: bold;
    color: white;
    padding: 4px 6px;
}

h1 {
    padding: 20px 10px;
    font-weight: bold;
    color: white;
    font-size: 2rem;
    text-align: center;
    text-shadow: 2px 2px rgba(0, 0, 0, 0.356);
}

h2 {
    color: green;
    background: rgb(134,205,166);
    background: linear-gradient(100deg, rgba(134,205,166,1) 7%, rgba(255,255,255,1) 100%, rgba(255,255,255,1) 100%);
    font-family: 'idroid';
    text-indent: 10px;
    padding: 0px 0px;
    margin: 10px 10px 10px 38px;
    
}

.sem {
    background-color: white;
}

p { 
    color: black;
    text-align: justify;
    text-indent: 30px;
    padding: 5px 40px 10px 40px;
}


main {
    background-color: white;
    padding: 1px 0px;
    align-items: center;
    max-width: 1000px;
    min-width: 350px;
    margin: auto;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.534);
    border-radius: 0 0 20px 20px;
}

strong {
    color: #2FA866;
    font-weight: bold;
}

.queb {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    color: white;
    background-color: #2FA866;
    padding: 10px;
    margin: 15px 25px;
    border-radius: 20px 20px 0 0;
    box-shadow: 0px 2px 5px 0px black;
}

li > a {
    color: black;
}


.columns {
    display: flex;
   flex-direction: row;
   justify-content: center;
}

.columnleft {
    display: flex;
    flex-direction: column;
}

.columnright {
    display: flex;
    flex-direction: column;
}

.links {
    background-color: #C5EBD6;
    margin: -16px 25px;
    border-radius: 0 0 20px 20px;
    box-shadow: 0px 2px 5px 0px;
}

.fim {
    padding: 1px 1px 1px 1px;
}


footer {
    background-color: #1A5C38;
    color: white;
    text-align: center;
    padding: 9px 1px 5px 1px;
    margin: 15px 0px 0px 0px;
}